.Fund {
    text-align: start;
  }
  
  .Fund-header {
    background-color: #292929;
    min-height: 100vh;
    display: flex;
    padding: 20px 100px;
    flex-direction: column;
    color: white;
  }

  .cagr-title {
    text-align: start;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    margin-top: 5vh;
  }

  .net-value {
    text-align: start;
    font-family: 'Open Sans';
    font-size: 16px;
    margin-top: 2vh;
  }

  .input-amount {
    width: 15%;
    height: 24px;
    margin-top: 2vh;
}

.input-years {
    width: 15%;
    height: 24px;
}

.calc-btn {
  align-items: center;
  text-align: center;
  margin-top: 10px;
  width: 15%;
}

.calc-btn:hover {
  background-color: #363636;
  color: white;
}