.Fund {
    text-align: start;
  }
  
  .Fund-header {
    background-color: #292929;
    min-height: 100vh;
    display: flex;
    padding: 20px 100px;
    flex-direction: column;
    color: white;
  }